# Ignore Python cache
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/

# Ignore environment files
.venv/
.env
api/config.env
odoo/.env
odoo/config/*.conf
odoo/pgadmin/servers.json

# Ignore build folders
dist/
build/

# Ignore logs
*.log
/venv/

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore local development files
*.local
local_settings.py
